@model List <P2P_Final_v0._001.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<style>
    .btn {
        padding: 15px 25px;
        border-radius: 6px;
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
        border: none;
    }

    .btn-primary {
        background-color: var(--primary);
    }

        .btn-primary:focus {
            background-color: var(--primary-light);
        }

        .btn-primary:hover {
            background-color: var(--primary-light);
            color: var(--gray-1);
        }

    /*Button Secondary */
    .btn-secondary {
        background-color: var(--gray-2);
        color: var(--gray-1);
    }

        .btn-secondary:focus {
            background-color: var(--white);
            box-shadow: 0px 4px 19px rgb(0,0,0,0.05) !important;
            color: var(--gray-1)
        }

        .btn-secondary:hover {
            background-color: var(--primary-light) !important;
            box-shadow: 0px 4px 19px rgb(0, 0, 0, 0.05) !important;
            box-shadow: 0px 4px 19px rgb(0, 0, 0, 0.05) !important;
            color: var(--gray-1)
        }

    /*     NavBar */
    .navbar-brand img {
        padding-right: 16px;
    }

    .navbar-brand span {
        font-style: var(--text-medium);
        font-weight: var(--font-weight-medium);
        color: var(--dark-brown);
    }

    .navbar-brand {
        padding: 30px 0px;
    }

    .navbar {
        padding: 30px 0;
    }

    a.nav-link {
        margin-right: 30px;
        font-size: var(--text-regular);
        font-weight: var(--font-weight-regular);
        color: var(--dark-brown) !important
    }

    /*
     Hero */
    section.hero {
        margin: 5rem 0;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        margin: 24px 0;
    }

    .text-label {
        color: var(--primary);
        font-size: var(--text-regular);
        font-weight: var(--font-weight-regular);
        line-height: 31px;
    }

    .text-hero-bold {
        color: var(--dark-brown);
        font-size: var(--header-1);
        font-weight: var(--font-weight-bold);
        line-height: 74px;
    }

    .text-hero-regular {
        color: var(--gray-1);
        font-size: var(--text-regular);
        font-weight: var(--font-weight-regular);
        line-height: 31px;
    }
    /*
     Testimoni brand */
    .testimoni-brand {
        padding: 24px 0;
    }
</style>

<style>
    .box:hover {
        background: transparent;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
</style>

<style>

    body {
        background-color: #f8f9fa !important
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }
    /* user-dashboard-info-box */
    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }

        .user-dashboard-info-box .candidates-list .thumb img {
            width: 80px;
            height: 80px;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
        }

    .user-dashboard-info-box .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px 0;
    }

    .user-dashboard-info-box .candidates-list td {
        vertical-align: middle;
    }

    .user-dashboard-info-box td li {
        margin: 0 4px;
    }

    .user-dashboard-info-box .table thead th {
        border-bottom: none;
    }

    .table.manage-candidates-top th {
        border: 0;
    }

    .user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 10px;
    }

    .table.manage-candidates-top {
        min-width: 650px;
    }

    .user-dashboard-info-box .candidate-list-details ul {
        color: #969696;
    }

    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .candidate-list:hover {
            -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
            box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
            position: relative;
            z-index: 99;
        }

            .candidate-list:hover a.candidate-list-favourite {
                color: #e74c3c;
                -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
                box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
            }

        .candidate-list .candidate-list-image {
            margin-right: 25px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
            flex: 0 0 80px;
            border: none;
        }

            .candidate-list .candidate-list-image img {
                width: 80px;
                height: 80px;
                -o-object-fit: cover;
                object-fit: cover;
            }

    .candidate-list-title {
        margin-bottom: 5px;
    }

    .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

        .candidate-list-details ul li {
            margin: 5px 10px 5px 0px;
            font-size: 13px;
        }

    .candidate-list .candidate-list-favourite-time {
        margin-left: auto;
        text-align: center;
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }

        .candidate-list .candidate-list-favourite-time span {
            display: block;
            margin: 0 auto;
        }

        .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
            display: inline-block;
            position: relative;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid #eeeeee;
            border-radius: 100%;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            font-size: 16px;
            color: #646f79;
        }

            .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
                background: #ffffff;
                color: #e74c3c;
            }

    .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        z-index: inherit;
    }

    .bg-white {
        background-color: #ffffff !important;
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }

    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }
</style>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Bookings</p>
                            <h4 class="my-1 text-info">@ViewBag.TotalBookings</h4>
                            @*<p class="mb-0 font-13">+2.5% from last week</p>*@
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-danger">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Revenue</p>
                            <h4 class="my-1 text-danger">R @ViewBag.TotalRevinue</h4>
                            @*<p class="mb-0 font-13">+5.4% from last week</p>*@
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Bounce Rate</p>
                            <h4 class="my-1 text-success">@ViewBag.BounceRate %</h4>
                            @*<p class="mb-0 font-13">-4.5% from last week</p>*@
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-warning">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Customers</p>
                            <h4 class="my-1 text-warning">@ViewBag.TotalCustomers</h4>
                            @*<p class="mb-0 font-13">+8.4% from last week</p>*@
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Top -->
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="copy">
                    <img src="~/Bundle/img/hero/station-used-on-login.svg" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="copy text-center">
                    <div class="text-label">
                        Changes your business for the greater good.
                    </div>
                    <div class="text-hero-bold text-primary">
                        Changes your business for the greater good.
                    </div>
                    <div class="text-hero text-success h1">
                        Changes your business for the greater good.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy bg-white rounded-3">
                    <div class="text-label">
                        Changes your business for the greater good.
                    </div>
                    <div>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
                        <div class="container mt-3 mb-4">
                            <div class="col-sm-12 mt-4 mt-lg-0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                            <table class="table manage-candidates-top mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Candidate Name</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="action text-right">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var user in ViewBag.Users)
                                                    {
                                                        <tr class="candidates-list">
                                                            <td class="title">
                                                                <div class="thumb">
                                                                    <img class="img-fluid" src="@user.ProfilePic" alt="Loading...">
                                                                </div>
                                                                <div class="candidate-list-details">
                                                                    <div class="candidate-list-info">
                                                                        <div class="candidate-list-title">
                                                                            <h5 class="mb-0"><a href="#">@user.Name @user.Surname</a></h5>
                                                                        </div>
                                                                        <div class="candidate-list-option">
                                                                            <ul class="list-unstyled">
                                                                                <li><i class="fas fa-filter pr-1"></i>@user.Email</li>
                                                                                <li><i class="fas fa-map-marker-alt pr-1"></i>@user.CellphoneNumber</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="candidate-list-favourite-time text-center">
                                                                <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                                                                <span class="candidate-list-time order-1">@user.AccountType</span>
                                                            </td>
                                                            <td>
                                                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                                                    <li><a href="#" class="text-primary" data-toggle="tooltip" title="" data-original-title="view"><i class="far fa-eye"></i></a></li>
                                                                    <li><a href="#" class="text-info" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                                                    <li><a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="text-center mt-3 mt-sm-3">
                                                <a class="btn btn-primary" href="@Url.Action("Customers","Admin")">See More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="copy bg-white rounded-3">
                    <div class="text-label">
                        Upcoming & Latest cars.
                    </div>
                    <div class="container-fluid">
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
                        <div class="upcoming py-5">
                            <div class="container">
                                <div class="row text-center">
                                    @foreach (var car in Model)
                                    {
                                        <div class="col-sm-6 box border py-4">
                                            <div class="box-carimage">
                                                <img class="box-carimage" src="https://img0.gaadicdn.com/images/car-images/265x110/Mahindra/Mahindra-XUV500-2018/6334/047.jpg" alt="Loading...">
                                            </div>
                                            <div class="box-cartitle">
                                                <h4>@car.Make @car.Model @car.Varient</h4>
                                            </div>
                                            <div class="box-carprice">
                                                <h6><i class="fa fa-inr"></i>@car.Price</h6>
                                            </div>
                                            <button type="button" href="@Url.Action("Cars", "Admin", new { @id = car.carID})"  class="btn btn-outline-danger">Edit Car</button>
                                        </div>
                                    }
                                    <div class="row text-center pt-4">
                                        <div class="col-sm-12">
                                            <button type="button" href="@Url.Action("Cars","Admin")" class="btn btn-danger">Manage cars</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




